[Unit]
Description=Headscale coordination server
After=syslog.target
After=network.target

[Service]
Type=simple
User={{ headscale.user.name }}
Group={{ headscale.user.group }}
ExecStart={{ headscale.path.binary }} serve
Restart=always
RestartSec=5

# Optional security enhancements
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths={{ headscale.path.dir.var }} {{ headscale.path.dir.pid }}
AmbientCapabilities=CAP_NET_BIND_SERVICE
RuntimeDirectory={{ headscale.user.name }}

[Install]
WantedBy=multi-user.target
